*{
    font-size: 25px;
    font-weight: bolder;
}
h1 {color: red;}
#img1{
    width: 100px;
    height: 200px;
    padding: 10px 40px;
    border-radius: 50%;
    border-top: 10px;
    border-bottom: 20px;
    border-left: 10px;
    border-right: 10px;
}

}
#img2{
    width: 100px;
    height: 200px;
    padding: 10px 40px;
    border-style: none;
}

#img3{
    width: 150px;
    height: 150px;
    border-style: dotted;
    
}

#img4{
    width: 100px;
    height: 200px;
    border-style: solid;
    border-color: seagreen;
}